<section class="card-container">

    <article class="card-text">
        <h2>Quem Somos</h2>
        <p id="aboutText1">
            Os serviços da SanLis são elaborados de acordo com a realidade de cada negócio 
            identificando e propondo soluções adequadas ao perfil de cada cliente.
        </p>
        <a href="{% url 'home:about' %}"><button class="btn"><span>Mais Informações</span></button></a>
    </article>

    <figure class="card">
        <div class="card-wrapper" id="image1">
            <h2>SOBRE</h2>
            <p>Quem Somos</p>
        </div>
    </figure>

</section>

<section class="card-container">

    <figure class="card">
        <div class="card-wrapper" id="image2">
            <h2>SOBRE</h2>
            <p>Nossa Equipe</p>
        </div>
    </figure>

    <article class="card-text">
        <h2>Nossa Equipe</h2>
        <p id="aboutText2">
            Nossa equipe atua a fim de identificar os 6 pilares ligados a melhoria 
            dos resultados. Esses pilares são: pessoas, métodos, processos, planejamento, 
            indicadores e tecnologia.
        </p>
        <a href="{% url 'home:about' %}"><button class="btn"><span>Mais Informações</span></button></a>
    </article>

</section>

<section class="card-container">

    <article class="card-text">
        <h2>Nossos Serviços</h2>
        <p id="aboutText3">
            <ul>
                <li>Reduzir despesas e eliminar desperdícios.</li>
                <li>Melhor a lucratividade e a longevidade dos resultados</li>
                <li>Analisar as interrupções nos processos em busca de um maior ganho de produtividade.</li>
            </ul>
        </p>
        <a href="{% url 'home:about' %}"><button class="btn"><span>Mais Informações</span></button></a>
    </article>

    <figure class="card">
        <div class="card-wrapper" id="image3">
            <h2>SOBRE</h2>
            <p>Nossos Serviços</p>
        </div>
    </figure>
    
</section>