<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'partners' %}">Parceiros</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Itens</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Registros</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Finanças</a></li>
        <li class="breadcrumb-item"><a href="{% url 'companies' %}">Configurações</a></li>
    </ol>
</nav>