<div class="row row-cols-1 row-cols-md-4 g-4">

    <section class="col mobile">
        <div class="card p-3 text-primary">
            <section class="row align-items-center">
                <div class="col-md-10">
                    <h5 class="">Faturamento Mensal</h5>
                </div>
                <div class="col-md-2">
                    <h1><i class="fa fa-dollar"></i></h1>
                </div>
            </section>
            <section class="text-center">
                <h5 class="">R$ 1.256,78</h5>
            </section>
        </div>
    </section>

    <section class="col mobile">
        <div class="card p-3 text-success">
            <section class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="">Contas a Receber</h5>
                </div>
                <div class="col-md-2">
                    <h1><i class="fa fa-credit-card"></i></h1>
                </div>
            </section>
            <section class="text-center">
                <h5 class="">R$ 956,78</h5>
            </section>
        </div>
    </section>

    <section class="col mobile">
        <div class="card p-3 text-danger">
            <section class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="">Contas a Pagar</h5>
                </div>
                <div class="col-md-2">
                    <h1><i class="fa fa-coins"></i></h1>
                </div>
            </section>
            <section class="text-center">
                <h5 class="">R$ 256,78</h5>
            </section>
        </div>
    </section>

    <section class="col mobile">
        <div class="card p-3 text-warning">
            <section class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="">Compra Mensal</h5>
                </div>
                <div class="col-md-2">
                    <h1><i class="fa fa-cart-plus"></i></h1>
                </div>
            </section>
            <section class="text-center">
                <h5 class="">R$ 556,78</h5>
            </section>
        </div>
    </section>

</div>