{% extends 'company/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block container %}

<main class="container-fluid py-3">

    {% include 'breadcrumb.html' %}

    {% include 'messages.html' %}

    <section class="row my-2">

        <div class="col-md-10">
            <h3 class="text-success">Gerenciar Itens</h3>
        </div>

        <div class="col-md-2">
            <a href="{% url 'plataform:item_create' %}">
                <button type="button" class="btn btn-success btn-sm px-5">
                    <span class="fa fa-plus"></span> Adicionar
                </button>
            </a>
        </div>

    </section>

    <section class="body-box">

        <form action="{% url 'plataform:items' %}" method="GET">
            {% csrf_token %}
            <div class="row">
                
                <section class="col-md-4 mb-2">
                    <input type="text" placeholder="Buscar pelo Nome" class="form-control" name="title">
                </section>

                <section class="col-md-3 mb-2">
                    <select class="form-control" name="categories">
                        <option value="">Escolha uma Categoria</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="col-md-2 mb-2">
                    <select class="form-control" name="brands">
                        <option value="">Escolha uma Marca</option>
                        {% for brand in brands %}
                        <option value="{{ brand.id }}">{{ brand }}</option>
                        {% endfor %}
                    </select>
                </section>
                
                <section class="col-md-1">
                    <input type="submit" value="FILTRAR" class="btn btn-outline-success px-5">
                </section>

            </div>
        </form>

        <table class="table table-sm table-responsive-sm table-hover mt-2">

            <thead class="thead-dark">
                <tr>
                    <th style="width:30px">Status</th>
                    <th style="width:200px">Nome</th>
                    <th style="width:100px" class="text-right">Estoque</th>
                    <th style="width:30px" class="text-center">UnMed</th>
                    <th style="width:100px" class="text-center">Ref</th>
                    <th style="width:100px" class="text-center">Localização</th>
                    <th style="width:70px" class="text-right">Preço</th>
                    <th style="width:70px" class="text-right">Custo</th>
                    <th style="width:30px" class="text-center">Editar</th>
                    <th style="width:30px" class="text-center">Deletar</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% for item in page.object_list %}
                <tr class="tabela-linha">
                    <td style="width:30px">
                        {% if item.status == 'A' %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-minus-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td style="width:200px"><a href="{% url 'plataform:item_view' item.id %}">{{ item.title }}</a></td>
                    <td style="width:100px" class="text-right">{{ item.stock_qtd|floatformat:3 }}</td>
                    <td style="width:30px" class="text-center">{{ item.un_med.description }}</td>
                    <td style="width:100px" class="text-center">{{ item.reference }}</td>
                    <td style="width:100px" class="text-center">{{ item.location }}</td>
                    <td style="width:70px" class="text-right">{{ item.price_term|floatformat:2 }}</td>
                    <td style="width:70px" class="text-right">{{ item.price_custom|floatformat:2 }}</td>
                    <td style="width:30px" class="text-center"><a class="btn-sm btn-warning" href="{% url 'plataform:item_view' item.id %}">
                        <i class="fa fa-edit"></i></a>
                    </td>
                    <td style="width:30px" class="text-center"><a class="btn-sm btn-danger" href="{% url 'plataform:item_delete' item.id %}"
                        onclick="return confirm('Você tem certeza que deseja excluir este item ?')">
                        <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% include 'pagination.html' %}
        
    </section>

</main>

{% endblock %}