{% extends 'company/base.html' %}
{% load static %}
{% block 'title' %} {{ title }} {% endblock %}

{% block 'container %}

<main class="container-fluid py-3">

    {% include 'breadcrumb.html' %}

    {% include 'messages.html' %}

    <section class="row">

        <div class="col-md-9">
            <h2 class="text-success">Gerenciar Itens</h2>
        </div>

        <div class="col-md-3">
            <a href="{% url 'item_create' %}">
                <button class="btn-success px-5 mb-2">Novo Item</button></a>
        </div>

    </section>

    <section class="body-box">

        <form action="{% url 'items' %}" method="GET">
            {% csrf_token %}
            <div class="row">
                
                <section class="col-md-5 mb-2">
                    <input type="text" placeholder="Buscar pelo Nome" class="form-control" name="title">
                </section>

                <section class="col-md-3">
                    <select class="form-control" name="categories">
                        <option value="">Escolha uma Categoria</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="col-md-2">
                    <select class="form-control" name="brands">
                        <option value="">Escolha uma Marca</option>
                        {% for brand in brands %}
                        <option value="{{ brand.id }}">{{ brand }}</option>
                        {% endfor %}
                    </select>
                </section>
                
                <section class="col-md-1">
                    <input type="submit" value="FILTRAR" class="btn btn-success px-5">
                </section>

            </div>
        </form>

        <table class="table table-sm table-responsive-sm table-hover mt-2">

            <thead class="">
                <tr>
                    <th>Status</th>
                    <th>Nome</th>
                    <th class="text-right">Estoque</th>
                    <th class="text-center">UnMed</th>
                    <th class="text-center">Ref</th>
                    <th class="text-center">Localização</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Custo</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Deletar</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% for item in items %}
                <tr class="tabela-linha">
                    <td>
                        {% if item.status == 'A' %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-minus-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'item_view' item.id %}">{{ item.title }}</a></td>
                    <td class="text-right">{{ item.stock_qtd|floatformat:3 }}</td>
                    <td class="text-center">{{ item.un_med.description }}</td>
                    <td class="text-center">{{ item.reference }}</td>
                    <td class="text-center">{{ item.location }}</td>
                    <td class="text-right">{{ item.price_term|floatformat:2 }}</td>
                    <td class="text-right">{{ item.price_custom|floatformat:2 }}</td>
                    <td class="text-center"><a class="btn-sm btn-warning" href="{% url 'item_view' item.id %}">
                        <i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center"><a class="btn-sm btn-danger" href="{% url 'item_delete' item.id %}"
                        onclick="return confirm('Você tem certeza que deseja excluir este item ?')">
                        <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        
    </section>

</main>

{% endblock %}