<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'stock:stock_sale_list' %}">Vendas</a></li>
        <li class="breadcrumb-item"><a href="{% url 'stock:stock_service_list' %}">Serviços</a></li>
        <li class="breadcrumb-item"><a href="{% url 'stock:stock_shopping_list' %}">Compras</a></li>
        <li class="breadcrumb-item"><a href="{% url 'stock:stock_production_list' %}">Produção</a></li>
        <li class="breadcrumb-item"><a href="{% url 'stock:stock_inventary_list' %}">Inventário</a></li>
    </ol>
</nav>