<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'transactions:sale_list' %}">Vendas</a></li>
        <li class="breadcrumb-item"><a href="{% url 'transactions:service_list' %}">Serviços</a></li>
        <li class="breadcrumb-item"><a href="{% url 'transactions:shopping_list' %}">Compras</a></li>
        <li class="breadcrumb-item"><a href="{% url 'transactions:production_list' %}">Produção</a></li>
        <li class="breadcrumb-item"><a href="{% url 'transactions:inventary_list' %}">Inventário</a></li>
    </ol>
</nav>